<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.dao.BaseCountryMapper">
  <resultMap id="BaseResultMap" type="com.yzy.entity.BaseCountry">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
  </resultMap>

</mapper>