<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzy.dao.DataOrdersMapper">
  <resultMap id="BaseResultMap" type="com.yzy.entity.DataOrders">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orders_num" jdbcType="VARCHAR" property="ordersNum" />
    <result column="create_unit_id" jdbcType="BIGINT" property="createUnitId" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="receive_unit_id" jdbcType="BIGINT" property="receiveUnitId" />
    <result column="receive_user_id" jdbcType="BIGINT" property="receiveUserId" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="base_cure_id" jdbcType="BIGINT" property="baseCureId" />
    <result column="base_texture_id" jdbcType="BIGINT" property="baseTextureId" />
    <result column="base_brand_id" jdbcType="BIGINT" property="baseBrandId" />
    <result column="base_product_id" jdbcType="BIGINT" property="baseProductId" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="express_name" jdbcType="VARCHAR" property="expressName" />
    <result column="express_num" jdbcType="VARCHAR" property="expressNum" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_age" jdbcType="INTEGER" property="patientAge" />
    <result column="patient_sex" jdbcType="INTEGER" property="patientSex" />
    <result column="patient_type" jdbcType="INTEGER" property="patientType" />
    <result column="tooth_position1" jdbcType="VARCHAR" property="toothPosition1" />
    <result column="tooth_position2" jdbcType="VARCHAR" property="toothPosition2" />
    <result column="tooth_position3" jdbcType="VARCHAR" property="toothPosition3" />
    <result column="tooth_position4" jdbcType="VARCHAR" property="toothPosition4" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="orders_accessory" jdbcType="VARCHAR" property="ordersAccessory" />
    <result column="accessory_name" jdbcType="VARCHAR" property="accessoryName" />
    <result column="accessory_url" jdbcType="VARCHAR" property="accessoryUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  
  <select id="selectDoctorOrders" resultType="com.yzy.entity.vo.OrdersVO">
       SELECT 
		     su.unit_name AS create_unit_name,
		     sur.zh_name AS create_user_name,
		     su2.unit_name AS receive_unit_name,
		     sur2.zh_name AS receive_user_name,
		     bc.cure_name AS base_cure_name,
		     dos.*
      FROM data_orders dos
LEFT JOIN sys_unit su ON su.id = dos.create_unit_id
LEFT JOIN sys_user sur ON sur.id = dos.create_user_id
LEFT JOIN sys_unit su2 ON su2.id = dos.receive_unit_id
LEFT JOIN sys_user sur2 ON sur2.id = dos.receive_user_id
LEFT JOIN base_cure bc ON bc.id = dos.base_cure_id
        WHERE 1=1 AND
            dos.create_unit_id IN
        <foreach collection="unitIdList" index="index" item="unitId" open="(" separator="," close=")">
            #{unitId}
        </foreach>
        <if test="ordersNum !=null and ordersNum.length() !=0">
            AND dos.orders_num LIKE CONCAT ('%/',#{ordersNum},'%') ESCAPE '/'
        </if>
        <if test="patientName !=null and patientName.length() !=0">
            AND dos.patient_name LIKE CONCAT ('%/',#{patientName},'%') ESCAPE '/'
        </if>
        <if test="createUserId !=null">
            AND dos.create_user_id = #{createUserId}
        </if>
        <if test="receiveUnitName !=null and receiveUnitName.length() !=0">
            AND su2.unit_name LIKE CONCAT ('%/',#{receiveUnitName},'%') ESCAPE '/'
        </if>
 		<if test="status !=null">
        	AND dos.status = #{status}
    	</if>
    	<if test="status ==null">
        	AND dos.status != 0
    	</if>
    	<if test="createTime !=null and createTime.length() !=0">
            AND TO_DAYS(dos.create_time) = TO_DAYS(#{createTime})
        </if>
        ORDER BY dos.create_time desc
    </select>
    
    
 <select id="selectFactoryOrders" resultType="com.yzy.entity.vo.OrdersVO">
       SELECT 
		     su.unit_name AS create_unit_name,
		     sur.zh_name AS create_user_name,
		     su2.unit_name AS receive_unit_name,
		     sur2.zh_name AS receive_user_name,
		     bc.cure_name AS base_cure_name,
		     dos.*
      FROM data_orders dos
LEFT JOIN sys_unit su ON su.id = dos.create_unit_id
LEFT JOIN sys_user sur ON sur.id = dos.create_user_id
LEFT JOIN sys_unit su2 ON su2.id = dos.receive_unit_id
LEFT JOIN sys_user sur2 ON sur2.id = dos.receive_user_id
LEFT JOIN base_cure bc ON bc.id = dos.base_cure_id
        WHERE 1=1 AND
            dos.receive_unit_id IN
        <foreach collection="unitIdList" index="index" item="unitId" open="(" separator="," close=")">
            #{unitId}
        </foreach>
        <if test="ordersNum !=null and ordersNum.length() !=0">
            AND dos.orders_num LIKE CONCAT ('%/',#{ordersNum},'%') ESCAPE '/'
        </if>
        <if test="patientName !=null and patientName.length() !=0">
            AND dos.patient_name LIKE CONCAT ('%/',#{patientName},'%') ESCAPE '/'
        </if>
        <if test="receiveUserId !=null">
            AND dos.receive_user_id = #{receiveUserId}
        </if>
        <if test="createUnitName !=null and createUnitName.length() !=0">
            AND su.unit_name LIKE CONCAT ('%/',#{createUnitName},'%') ESCAPE '/'
        </if>
 		<if test="status !=null">
        	AND dos.status = #{status}
    	</if>
    	<if test="status ==null">
        	AND dos.status > 1
    	</if>
    	<if test="createTime !=null and createTime.length() !=0">
            AND TO_DAYS(dos.create_time) = TO_DAYS(#{createTime})
        </if>
 
        ORDER BY dos.create_time desc
    </select>
    
    <select id="selectOrdersById" resultType="com.yzy.entity.vo.OrdersVO">
       SELECT 
		     su.unit_name AS create_unit_name,
		     sur.zh_name AS create_user_name,
		     su2.unit_name AS receive_unit_name,
		     sur2.zh_name AS receive_user_name,
		     bc.cure_name AS base_cure_name,
		     dos.*
      FROM data_orders dos
LEFT JOIN sys_unit su ON su.id = dos.create_unit_id
LEFT JOIN sys_user sur ON sur.id = dos.create_user_id
LEFT JOIN sys_unit su2 ON su2.id = dos.receive_unit_id
LEFT JOIN sys_user sur2 ON sur2.id = dos.receive_user_id
LEFT JOIN base_cure bc ON bc.id = dos.base_cure_id
        WHERE 1=1 
		AND dos.id = #{ordersId}
    </select>
    
     <select id="selectSystemOrders" resultType="com.yzy.entity.vo.OrdersVO">
       SELECT 
		     su.unit_name AS create_unit_name,
		     sur.zh_name AS create_user_name,
		     su2.unit_name AS receive_unit_name,
		     sur2.zh_name AS receive_user_name,
		     bc.cure_name AS base_cure_name,
		     dos.*
      FROM data_orders dos
LEFT JOIN sys_unit su ON su.id = dos.create_unit_id
LEFT JOIN sys_user sur ON sur.id = dos.create_user_id
LEFT JOIN sys_unit su2 ON su2.id = dos.receive_unit_id
LEFT JOIN sys_user sur2 ON sur2.id = dos.receive_user_id
LEFT JOIN base_cure bc ON bc.id = dos.base_cure_id
        WHERE 1=1 AND
            dos.receive_unit_id IN
        <foreach collection="unitIdList" index="index" item="unitId" open="(" separator="," close=")">
            #{unitId}
        </foreach>
        <if test="ordersNum !=null and ordersNum.length() !=0">
            AND dos.orders_num LIKE CONCAT ('%/',#{ordersNum},'%') ESCAPE '/'
        </if>
        <if test="patientName !=null and patientName.length() !=0">
            AND dos.patient_name LIKE CONCAT ('%/',#{patientName},'%') ESCAPE '/'
        </if>
       
        <if test="createUnitName !=null and createUnitName.length() !=0">
            AND su.unit_name LIKE CONCAT ('%/',#{createUnitName},'%') ESCAPE '/'
        </if>
        
        <if test="receiveUnitName !=null and receiveUnitName.length() !=0">
            AND su2.unit_name LIKE CONCAT ('%/',#{receiveUnitName},'%') ESCAPE '/'
        </if>
        
 		<if test="status !=null">
        	AND dos.status = #{status}
    	</if>
    	<if test="status ==null">
        	AND dos.status > 1
    	</if>
    	<if test="createTime !=null and createTime.length() !=0">
            AND TO_DAYS(dos.create_time) = TO_DAYS(#{createTime})
        </if>
 
        ORDER BY dos.create_time desc
    </select>
    
    <select id="selectUnitOrders" resultType="com.yzy.entity.vo.UnitOrdersNum">
    	SELECT 
    		create_unit_id as unit_id,
    		COUNT(create_unit_id) AS num 
    	FROM data_orders 
    	WHERE 1 = 1
    	 
    	GROUP BY create_unit_id 
    	ORDER BY  num DESC 
    	LIMIT 0,10
    </select>
    <select id="selectDoctorOrdersNum" resultType="com.yzy.entity.vo.UnitOrdersNum">
    	SELECT 
    		create_unit_id as unit_id,
    		COUNT(create_unit_id) AS num 
    	FROM data_orders 
    	WHERE 1 = 1 
    	
    	<if test="startTime !=null and startTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[>=]]>  TO_DAYS(#{startTime})
        </if>
    	<if test="endTime !=null and endTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[<=]]>  TO_DAYS(#{endTime})
        </if>
    	
    	GROUP BY create_unit_id 
    	ORDER BY  num DESC 
    	LIMIT 0,10
    </select>
    <select id="selectFactoryOrdersNum" resultType="com.yzy.entity.vo.UnitOrdersNum">
    	SELECT 
    		receive_unit_id as unit_id,
    		COUNT(receive_unit_id) AS num 
    	FROM data_orders 
    	WHERE 1 = 1 
    	
    	<if test="startTime !=null and startTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[>=]]>  TO_DAYS(#{startTime})
        </if>
    	<if test="endTime !=null and endTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[<=]]>  TO_DAYS(#{endTime})
        </if>
    	
    	GROUP BY receive_unit_id 
    	ORDER BY  num DESC 
    	LIMIT 0,10
    </select>
    <select id="selectCureNum" resultType="java.lang.Integer">
    	SELECT COUNT(dos.id) FROM data_orders dos WHERE dos.base_cure_id = #{baseCureId} 
    	<if test="createUnitId !=null">
            AND dos.create_unit_id = #{createUnitId}
        </if>
        <if test="createUserId !=null">
            AND dos.create_user_id = #{createUserId}
        </if>
        <if test="receiveUnitId !=null">
            AND dos.receive_unit_id = #{receiveUnitId}
        </if>
        <if test="startTime !=null and startTime.length() !=0">
            AND TO_DAYS(dos.create_time) <![CDATA[>=]]>  TO_DAYS(#{startTime})
        </if>
    	<if test="endTime !=null and endTime.length() !=0">
            AND TO_DAYS(dos.create_time) <![CDATA[<=]]>  TO_DAYS(#{endTime})
        </if>
    </select>
    
<select id="selectDoctorOrdersStatistics" resultType="com.yzy.entity.vo.UnitOrdersNum">
    	SELECT 
    		receive_unit_id as unit_id,
    		COUNT(receive_unit_id) AS num 
    	FROM data_orders 
    	WHERE 1 = 1 
    	<if test="createUnitId !=null">
            AND create_unit_id = #{createUnitId}
        </if>
        <if test="createUserId !=null">
            AND create_user_id = #{createUserId}
        </if>
    	<if test="startTime !=null and startTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[>=]]>  TO_DAYS(#{startTime})
        </if>
    	<if test="endTime !=null and endTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[<=]]>  TO_DAYS(#{endTime})
        </if>
    	
    	GROUP BY receive_unit_id 
    	ORDER BY  num DESC 
    	LIMIT 0,10
</select>


<select id="selectFactoryOrdersStatistics" resultType="com.yzy.entity.vo.UnitOrdersNum">
    	SELECT 
    		create_unit_id as unit_id,
    		COUNT(create_unit_id) AS num 
    	FROM data_orders 
    	WHERE 1 = 1 
        <if test="receiveUnitId !=null">
            AND receive_unit_id = #{receiveUnitId}
        </if>
    	<if test="startTime !=null and startTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[>=]]>  TO_DAYS(#{startTime})
        </if>
    	<if test="endTime !=null and endTime.length() !=0">
            AND TO_DAYS(create_time) <![CDATA[<=]]>  TO_DAYS(#{endTime})
        </if>
    	
    	GROUP BY receive_unit_id 
    	ORDER BY  num DESC 
    	LIMIT 0,10
</select>
</mapper>